.input-control {
  label {
    margin-left: 4px;
    min-width: 80px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  input {
    width: 60px;
  }
}
